doctype html
html(lang='en')

    head
        //Google Tag Manager
        script
            include ../js/tags.js

        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
        meta(name='description', content='')
        meta(name='author', content='')

        title Allan Vikiru | Software Engineer

        link(rel='icon', type='image/x-icon', href='assets/img/icon.png')

        // Font Awesome icons (free version) + Bootstrap CDN
        script(src='https://use.fontawesome.com/releases/v5.15.1/js/all.js', crossorigin='anonymous')
        link(rel="stylesheet", href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css", integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN", crossorigin="anonymous")

        // Google Fonts
        link(href='https://fonts.googleapis.com/css?family=Bebas+Neue:wght@500,700', rel='stylesheet', type='text/css')
        link(href='https://fonts.googleapis.com/css?family=Barlow:400,400i,800,800i', rel='stylesheet', type='text/css')

        //Pageclip Plugin CSS
        link(rel="stylesheet",href="https://s.pageclip.co/v1/pageclip.css" media="screen")

        // Core theme CSS (includes Bootstrap)
        link(href='css/styles.css', rel='stylesheet')

    body#page-top
        //Google Tag Manager (noscript)
        noscript
            iframe(src="https://www.googletagmanager.com/ns.html?id=GTM-WX3DMVN", height="0", width="0" style="display:none;visibility:hidden")
        //End Google Tag Manager (noscript)

        // Navigation
        nav#sideNav.navbar.navbar-expand-lg.navbar-dark.bg-primary.fixed-top
            a.navbar-brand.js-scroll-trigger(href='#about')
                span.d-block.d-lg-none Allan Vikiru
                span.d-none.d-lg-block
                    img.img-fluid.img-profile.rounded-circle.mx-auto.mb-2(src='assets/img/profile.jpg', alt='')
            button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarSupportedContent', aria-controls='navbarSupportedContent', aria-expanded='false', aria-label='Toggle navigation')
                span.navbar-toggler-icon
            #navbarSupportedContent.collapse.navbar-collapse
                ul.navbar-nav
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#about') About
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#skills') Skills
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#projects') Projects
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#experience') Experience
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#education') Education
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#interests') Interests
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#contact') Contact

        // Page Content
        .container-fluid.p-0

            // About
            section#about.resume-section
                .resume-section-content
                    h1.mb-1
                        | Allan
                        span.text-primary Vikiru
                    div.subheading.mb-2
                        i.fas.fa-map-pin.text-primary
                        span.col-sm-1
                        |&ensp;
                        |Nairobi, Kenya
                        span.col-sm-6.col-md-4
                        span.buttons
                            button.cv-btn(onClick="location.href='../assets/docs/CV.pdf';")
                                | View CV
                                span.cv-btn__inner
                                    span.cv-btn__blobs
                                        span.cv-btn__blob
                                        span.cv-btn__blob
                                        span.cv-btn__blob
                                        span.cv-btn__blob
                                        span.cv-btn__blob
                    p.lead.mb-6
                        | Hey! My name is Allan, a software engineer who aims to solve problems by conducting informative research and applying effective solutions in Computer Science.
                        br
                        | In my research, I continually seek to discover and implement techniques for enhancing ethical human-computer interaction, especially in the knowledge areas of Internet-of-Things, Data Science and Machine Learning.
                    .subheading.mb-3 Professional Traits
                    ul.fa-ul.mb-0
                        li.mb-1
                            span.fa-li
                                i.fas.fa-user-friends
                            | Collaboration & Teamwork
                        li.mb-1
                            span.fa-li
                                i.fas.fa-comments
                            | Communication
                        li.mb-1
                            span.fa-li
                                i.fas.fa-palette
                            | Creativity
                        li.mb-1
                            span.fa-li
                                i.fas.fa-cogs
                            | Logical & Analytical Thinking
                        li.mb-1
                            span.fa-li
                                i.fas.fa-stopwatch-20
                            | Time Management
            hr.m-0

            // Skills
            section#skills.resume-section
                .resume-section-content
                    h2.mb-5 Skills
                    div.container
                        div.row
                            div.col-xs-12.col-sm-6.col-md-4
                                figure.image-block
                                    img(src="../assets/img/data-sci.png" alt="Data Science and AI")
                                    figcaption
                                        h4 Data Science and AI
                                        p
                                            | Languages and Tools: Python, R, MATLAB, DAX (Power BI, Excel)
                                            br
                                            | Techniques: Association Analysis, Regression Models, Neural Networks, Data Preparation, Data Visualisation
                            div.col-xs-12.col-sm-6.col-md-4
                               figure.image-block
                                    img(src="../assets/img/iot.png" alt="Internet of Things")
                                    figcaption
                                        h4 Internet of Things
                                        p
                                            | Languages: C/C++, Arduino, ThingSpeak and Azure IoT.
                                            br
                                            | Protocols & Networks:  MQTT, HTTP, GSM, WiFi, LoRaWAN
                            div.col-xs-12.col-sm-6.col-md-4
                                figure.image-block
                                    img(src="../assets/img/sof-eng.png" alt="Software Engineering")
                                    figcaption
                                        h4 Software Engineering
                                        p
                                            | Tools: Git, Docker, Heroku, AWS, Microsoft Azure, Google Analytics
                                            br
                                            | Techniques: DevOps, System Analysis and Design, Agile, Scrum & Prototyping Models

                        div.row
                            div.col-xs-12.col-sm-6.col-md-4
                               figure.image-block
                                    img(src="../assets/img/web-dev.png" alt="Web Development")
                                    figcaption
                                        h4 Web Development
                                        p Languages and Tools : Python, JavaScript, PHP, MySQL, Sass, Node.js, Laravel, WordPress
                            div.col-xs-12.col-sm-6.col-md-4
                               figure.image-block
                                    img(src="../assets/img/design.png" alt="UI/UX Development")
                                    figcaption
                                        h4 UI/UX Development
                                        p
                                            | Tools : Adobe XD, Figma
                                            br
                                            | Techniques: Design Review, Prototyping, Journey Mapping
                            div.col-xs-12.col-sm-6.col-md-4
                               figure.image-block
                                    img(src="../assets/img/research.png" alt="Research and Technical Writing")
                                    figcaption
                                        h4 Research & Technical Writing
                                        p
                                            | Tools : LaTeX, Markdown
                                            br
                                            | Techniques: Grant Proposal Writing, Research Paper Writing, System & User Documentation
            hr.m-0

            // Projects
            section#projects.resume-section
                .resume-section-content
                    h2.mb-2 Projects & Publications
                    p.lead Follow the links below to access some projects and research papers I've worked on.
                    .mb-3
                    ul.fa-ul.mb-0
                        li.mb-1
                            span.fa-li
                                i.fas.fa-shopping-cart.text-primary
                            a.pub-link(href="https://allanvikiru.github.io/MarketBasketAnalysis/") Market Basket Analysis using Apriori Algorithm (2022, pub. 2023)
                            | [Web Article]
                        li.mb-1
                            span.fa-li
                                i.fas.fa-database.text-primary
                            a.pub-link(href="https://doi.org/10.48550/arXiv.2301.10673") An Overview on Cloud Distributed Databases for Business Environments (2022, pub.2023)
                            | [Preprint]
                        li.mb-1
                            span.fa-li
                                i.fas.fa-house-user.text-primary
                            a.pub-link(href="https://kairosgrouphomes.com") Kairos Group Homes (2021)
                            | [Business Site]
                        li.mb-1
                            span.fa-li
                                i.fas.fa-fire-extinguisher.text-primary
                            a.pub-link(href="https://github.com/AllanVikiru/FireBand") FireBand (2020 - 2021)
                            | [IoT + Web App]
                        li.mb-1
                            span.fa-li
                                i.fas.fa-recycle.text-primary
                            a.pub-link(href="http://dx.doi.org/10.13140/RG.2.2.14780.16009") Waste Management using Augmented Reality (2019)
                            | [Proposal]
                        li.mb-1
                            span.fa-li
                                i.fas.fa-laptop-house.text-primary
                            a.pub-link(href="https://www.researchgate.net/publication/350591375_Automated_Estate_Services_Management_System") Automated Estate Services Management System  (2019)
                            | [Conference Paper]
            hr.m-0

            // Experience
            section#experience.resume-section
               .resume-section-content
                    h2.mb-5 Experience
                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                        .flex-grow-1
                            h3.mb-0 Graduate Assistant
                            .subheading.mb-3 SCES, Strathmore University
                            p
                                | Providing support to faculty at the School of Computing and Engineering Sciences in conducting research and tutorials for specific courses as assigned.
                        .flex-shrink-0
                            span.text-primary March 2022 - Present
                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                        .flex-grow-1
                            h3.mb-0 IoT Research Lab Intern
                            .subheading.mb-3 @iLabAfrica
                            p
                                | Under the software development team, handling application design as well as analytics for data collected by IoT powered devices.
                        .flex-shrink-0
                            span.text-primary January 2022 - March 2022
                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                        .flex-grow-1
                            h3.mb-0 IT Systems Assistant
                            .subheading.mb-3 Quantum Facilities Management
                            p
                                | Part of the IT department tasked with creating and maintaining solutions that support the firm’s core business processes.
                        .flex-shrink-0
                            span.text-primary May 2021 - November 2021
                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                        .flex-grow-1
                            h3.mb-0 Freelance Web Developer
                            p
                                | Designed, developed, debugged, and maintained various WordPress based applications such as e-commerce platforms, blogs, and business sites.
                        .flex-shrink-0
                            span.text-primary June 2020 - May 2021
                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                        .flex-grow-1
                            h3.mb-0 Software Developer Intern
                            .subheading.mb-3 Slash Dot Labs
                            p
                                | Part of the frontend development team, tasked with designing, developing, debugging, and documenting Laravel and WordPress applications.
                        .flex-shrink-0
                            span.text-primary January 2020 - March 2020

                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                        .flex-grow-1
                            h3.mb-0 Student Fellow
                            .subheading.mb-3 @iLabAfrica
                            p
                                | Worked under the system testing and debugging team for a web application built in Laravel and Vue.js
                        .flex-shrink-0
                            span.text-primary February 2019 - December 2019

            hr.m-0

            // Education
            section#education.resume-section
                .resume-section-content
                    h2.mb-5 Education
                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                        .flex-grow-1
                            h3.mb-0 Strathmore University
                            .subheading.mb-3 MSc. Information Technology
                            p Option: Business Intelligence and Data Analytics
                            // p Thesis Title:
                            // i.fas.fa-book.text-primary
                            // Link to SU Repository
                            // a.pub-link(href="https://strathmore.edu/news/graduate-spotlight-allan-vikiru-if-you-can-do-it-for-the-joy-you-can-do-it-forever/") My Undergrad Experience
                        .flex-shrink-0
                            span.text-primary May 2022 - Current
                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                        .flex-grow-1
                            h3.mb-0 Strathmore University
                            .subheading.mb-3 BSc. Informatics & Computer Science
                            p Award: First Class Honours
                            i.fas.fa-graduation-cap.text-primary
                            a.pub-link(href="https://web.archive.org/web/20211008072847/https://strathmore.edu/news/graduate-spotlight-allan-vikiru-if-you-can-do-it-for-the-joy-you-can-do-it-forever/") My Undergrad Experience
                        .flex-shrink-0
                            span.text-primary March 2017 - September 2021

            hr.m-0

            // Interests
            section#interests.resume-section
                .resume-section-content
                    h2.mb-5 Interests
                    p
                        | Besides working on assigned and personal projects, I spend time looking into the latest in technology and other related industries.
                        | From trends in UI/UX to data governance, I follow numerous topics of interest across a variety of reputable digital platforms.
                    p.mb-0
                        | Outside tech, I enjoy listening to music, cooking, gaming, watching sitcoms and writing articles and short stories - though this has been on and off.
                        | I generally prefer being indoors, but I'm always open to stepping out for leisure activities.
            hr.m-0

            // Contact
            section#contact.resume-section
                .resume-section-content
                    h2.mb-2 Contact
                    p.lead Let's collaborate!&nbsp;Reach out to me by sending an email through the form below, or through the social platforms indicated.
                    .mb-3
                    .col-xl-10.col-xs-12.col-sm-6
                        form.contact-form.validate-form.pageclip-form(action="https://send.pageclip.co/WpWgExbutHzVqfW7NtvjtBJfFW8ZflpI/contact-me", method="post")
                            .wrap-input.validate-input(data-validate="Please enter your name")
                                input.input(type="text",name="name")
                                span.focus-input(data-placeholder="Name (required)")
                            .wrap-input.validate-input(data-validate = "Please enter a valid email address in the format: name@example.com")
                                input.input(type="text" name="email")
                                span.focus-input(data-placeholder="Email Address (required)")
                            .wrap-input.validate-input(data-validate = "Please enter your message")
                                textarea.input(name="message")
                                span.focus-input(data-placeholder="Message (required)")
                            .btn-container
                                .btn-wrap
                                    .contact-form-bgbtn
                                    button.contact-form-btn.pageclip-form__submit
                                        span.msg Send Message
                    .mt-3
                        .text-center
                            .btn-container
                                .btn-wrap
                                    span.buttons
                                    button.zcal-btn(onClick="location.href='https://zcal.co/avikiru';")
                                        i.fas.fa-calendar-check
                                        |&nbsp; Schedule a Meeting with Me
                                        span.zcal-btn__inner
                                            span.zcal-blob-btn__blobs
                                                span.zcal-btn__blob
                                                span.zcal-btn__blob
                                                span.zcal-btn__blob
                                                span.zcal-btn__blob
                    .social-icons
                        a.social-icon(href='https://www.linkedin.com/in/allan-vikiru/')
                            i.fab.fa-linkedin-in
                        a.social-icon(href='https://orcid.org/0000-0002-7739-5667')
                            i.fab.fa-orcid
                        a.social-icon(href='https://www.researchgate.net/profile/Allan-Vikiru')
                            i.fab.fa-researchgate
                        a.social-icon(href='https://medium.com/@AllanVikiru/')
                            i.fab.fa-medium-m
                        a.social-icon(href='https://github.com/AllanVikiru')
                            i.fab.fa-github
                    .text-center
                        script(type="text/javascript" src="https://cdnjs.buymeacoffee.com/1.0.0/button.prod.min.js" data-name="bmc-button" data-slug="allanvikiru" data-color="#343a40" data-emoji="" data-font="Cookie" data-text="Buy me a Coffee" data-outline-color="#ffffff" data-font-color="#ffffff" data-coffee-color="#FFDD00")
            hr.m-0

            section#snackbar
                #snackbar-section-content.active
                    .text
                        | This site uses cookies and third-party tools for analytics and tracking.
                        a.ripple.rect(href="../assets/docs/Privacy-Policy.pdf" target="_blank") Learn More
                    #close-sb.ripple
                        .text
                            i.fas.fa-times

            footer#footer-section
                .footer-section-content
                    | &copy;
                    span#copyright
                    a(href="#") Allan Vikiru
                    |&ensp;|&ensp;
                    | Read the
                    a(href="../assets/docs/Privacy-Policy.pdf") Privacy Policy

            // Blobs SVG
            svg#blobs(xmlns="http://www.w3.org/2000/svg", version="1.1", width="0", height="0")
                defs
                    filter#goo
                        feGaussianBlur(in="SourceGraphic" result="blur" stdDeviation="10")
                        feColourMatrix(in="blur" mode="matrix" values="1 0 0 0 0 0 1 0 0 0 0 0 1 0 0 0 0 0 21 -7" result="goo")
                        feBlend(in2="goo" in="SourceGraphic" result="mix")

        //Pageclip Plugin JS
        script(src="https://s.pageclip.co/v1/pageclip.js" charset="utf-8")

        // Bootstrap core JS
        script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js')
        script(src='https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js')

        // Third party plugin JS
        script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js')

        // Core theme JS
        script(src='js/scripts.js')

        //Link Previews JS
        script(src="js/previews.js")

        //Forms JS
        script(src="js/forms.js")
