// Pre-state grayscale colors used in other variables

$gray-800: #343a40;

// Override Bootstrap color system

$blue-green: #246466;

$alt-blue-green: #508385;

// Override Bootstrap default state colors

$primary: $blue-green;

// Override Bootstrap yiq lightness value

$yiq-contrasted-threshold: 205;
